node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Local Uploads (Development only - Production uses Netlify Blobs)
static/uploads/